# Git
.git
.gitignore

# Node modules and build caches (recursively ignored)
**/node_modules
**/node_modules/**
**/.next
**/.next/**
**/out
**/out/**

# Build artifacts / Distributables
build
dist
*.exe
*.bin
meshery

# IDE/Editor config
.vscode
.idea
*.iml

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Docs
docs/*

# Include only the catalog folder in the docs/data directory
!docs/data/
docs/data/*
!docs/data/catalog/
!docs/data/catalog/**